<%- include('./includes/header') %>

  <div class="content-container">
    <div class="post-detail">
      <% if (page.img && page.img !== '') { %>
        <div class="feature-container" style="background-image: url('<%= page.img %>')">
        </div>
      <% } %>
      <h2 class="post-title"><%= page.title %></h2>
      <div class="post-info post-detail-info">
        <span><i class="icon icon-calendar-outline"></i> <%= date(page.date, config.date_format) %></span>
        <% if (page.tags && page.tags.length > 0) { %>
          <span>
          <i class="icon icon-pricetags-outline"></i>
            <% page.tags.forEach(function(tag, index) { %>
              <a href="<%= url_for(tag.path) %>">
              <%= tag.name %>
                <% if (index !== page.tags.length - 1) { %>
                  ，
                <% } %>
              </a>
            <% }); %>
          </span>
        <% } %>
      </div>
      <div class="post-content-wrapper">
        <div class="post-content">
          <%- page.content %>
        </div>
        <div class="top-div">
          <%- toc(page.content, {class: 'top-box',list_number:false,max_depth:3}) %>
        </div>
      </div>
    </div>

    <% if (page.next) { %>
      <div class="next-post">
        <a class="purple-link" href="<%- url_for(page.next.path) %>">
          <h3 class="post-title">
            下一篇：<%= page.next.title %>
          </h3>
        </a>
      </div>
    <% } %>
  </div>

<%- include('./includes/comment') %>


<%- include('./includes/footer') %>
